/**
 * Button styles
 * Loads on front end and back end
 */

 .lsx-block-button {
	margin: 0 0 1.2em 0;
	position: relative;

	.blocks-rich-text {
		display: inline-flex;
	}

	.components-autocomplete {
		display: inline-block;
		width: auto;
		margin: 0 auto;
		position: relative;
	}

	.lsx-button {
		text-align: center;
		background-color: #32373c;
		border-radius: 50px;
		box-shadow: none;
		color: #fff;
		cursor: pointer;
		text-decoration: none;
		word-break: break-word;
		border: 0 none;
		border-radius: 3px;
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		height: 48px;
		left: 0;
		letter-spacing: 0.6px;
		line-height: 1.25;
		padding: 15px 40px;
		position: relative;
		top: 0;
		transition: all 100ms ease;
		box-shadow: 2px 2px 0 0 #27639e;
		&:hover {
			background-color: #27639e;
		}
	}

	.lsx-button-shape-square {
		border-radius: 0;
	}

	.lsx-button-shape-rounded {
		border-radius: 3px;
	}

	.lsx-button-shape-circular {
		border-radius: 100px;
	}

	.lsx-button-size-small {
		font-size: 14px;
	}

	.lsx-button-size-medium {
		font-size: 20px;
	}

	.lsx-button-size-large {
		font-size: 26px;
		padding: .8em 1.2em;
	}

	.lsx-button-size-extralarge {
		font-size: 34px;
		padding: .8em 1.2em;
	}
}

.lsx-button-right {
	transform: translateX(-100%);
	left: 100%;
	position: relative;
}

.lsx-button-center {
	margin: 0 auto;
}
