/**
 * Button styles
 * Loads on front end and back end
 */

 .lsx-block-button {
	margin: 0 0 1.2em 0;
	position: relative;

	.blocks-rich-text {
		display: inline-flex;
	}

	.components-autocomplete {
		display: inline-block;
		width: auto;
		margin: 0 auto;
		position: relative;
	}

	.lsx-button {
		text-align: center;
		cursor: pointer;
		text-decoration: none;
		word-break: break-word;
		border: 0 none;
		border-radius: 3px;
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.54px;
		line-height: 1.25;
		padding: 15px 40px;
		transition: all 100ms ease;
		@media only screen and (max-width: 600px) {
			width: 100%;
		}
	}

	.lsx-button-shape-square {
		border-radius: 0 !important;
	}

	.lsx-button-shape-rounded {
		border-radius: 3px;
	}

	.lsx-button-shape-circular {
		border-radius: 100px !important;
	}

	.lsx-button-size-small {
		font-size: 10px;
	}

	.lsx-button-size-medium {
		font-size: 14px;
	}

	.lsx-button-size-large {
		font-size: 22px;
		padding: .8em 1.2em;
	}

	.lsx-button-size-extralarge {
		font-size: 30px;
		padding: .8em 1.2em;
	}

	.lsx-button-no-border {
		border: none !important;
	}

	.lsx-bordertransparent {
		border-width: 2px;
		border-style: solid;
		//background-color: transparent !important;
		box-shadow: none !important;
		&:hover {
			border-radius: 3px;
		}
	}
}

.lsx-button-line {
	text-align: center;
	a {
		display: inline-block;
		position: relative;
		&:before, &:after {
			content: '';
			display: block;
			height: 2px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 25vw;
			background-color: #DADDDF;
		}
		&:before {
			right: 120%;
		}
		&:after {
			left: 120%;
		}
	}

}

.lsx-button-right {
	transform: translateX(-100%);
	left: 100%;
	position: relative;
}

.lsx-button-center {
	margin: 0 auto;
}
