/**
 * Editor styles for the admin
 */

 .lsx-block-drop-cap {
	.lsx-drop-cap-text:not( :focus ):first-letter {
		float: left;
		font-size: 75px;
		line-height: .7em;
		margin-top: .15em;
		margin-right: 25px;
		margin-bottom: 25px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&.lsx-drop-cap-square .lsx-drop-cap-text:not( :focus ):first-letter {
		background: #32373c;
		color: #fff;
		padding: .2em;
	}

	&.lsx-drop-cap-border .lsx-drop-cap-text:not( :focus ):first-letter {
		color: #32373c;
		padding: .2em;
		border: solid 4px;
	}

	/* Font size styles */
	@media only screen and (min-width: 600px) {
		.lsx-font-size-1.lsx-drop-cap-text:not( :focus ):first-letter {
			font-size: 75px;
		}

		.lsx-font-size-2.lsx-drop-cap-text:not( :focus ):first-letter {
			font-size: 85px;
		}

		.lsx-font-size-3.lsx-drop-cap-text:not( :focus ):first-letter {
			font-size: 95px;
		}

		.lsx-font-size-4.lsx-drop-cap-text:not( :focus ):first-letter {
			font-size: 105px;
		}

		.lsx-font-size-5.lsx-drop-cap-text:not( :focus ):first-letter {
			font-size: 115px;
		}

		.lsx-font-size-6.lsx-drop-cap-text:not( :focus ):first-letter {
			font-size: 125px;
		}
	}
}
