/**
 * Drop cap styles
 * Loads on front end and back end
 */

 .entry-content .ab-block-drop-cap {
	.ab-drop-cap-text p:first-letter {
		float: left;
		font-size: 75px;
		line-height: .7em;
		margin-top: .15em;
		margin-right: 25px;
		margin-bottom: 25px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	&.ab-drop-cap-square .ab-drop-cap-text p:first-letter {
		background: #32373c;
		color: #fff;
		padding: .2em;
	}

	&.ab-drop-cap-border .ab-drop-cap-text p:first-letter {
		color: #32373c;
		padding: .2em;
		border: solid 4px;
	}

	/* Font size styles */
	@media only screen and (min-width: 600px) {
		&.ab-font-size-1 .ab-drop-cap-text:first-letter {
			font-size: 75px;
		}
	
		&.ab-font-size-2 .ab-drop-cap-text:first-letter {
			font-size: 85px;
		}
	
		&.ab-font-size-3 .ab-drop-cap-text:first-letter {
			font-size: 95px;
		}
	
		&.ab-font-size-4 .ab-drop-cap-text:first-letter {
			font-size: 105px;
		}
	
		&.ab-font-size-5 .ab-drop-cap-text:first-letter {
			font-size: 115px;
		}
	
		&.ab-font-size-6 .ab-drop-cap-text p:first-letter {
			font-size: 125px;
		}
	}
}

.ab-block-drop-cap {
	&:before, 
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}

	a {
		color: inherit;
		box-shadow: 0 -1px 0 inset;
		text-decoration: none;

		&:hover {
			color: inherit;
			box-shadow: 0 -2px 0 inset;
		}
	}
}