/**
 * Drop cap styles
 * Loads on front end and back end
 */

 .ab-block-drop-cap {
	p:first-child:first-letter {
		float: left;
		font-size: 75px;
		line-height: .7em;
		margin-top: .15em;
		margin-right: 25px;
		margin-bottom: 25px;
		font-weight: bold;
		text-transform: uppercase;
	}

	a {
		color: inherit;
		box-shadow: 0 -1px 0 inset;
		text-decoration: none;

		&:hover {
			color: inherit;
			box-shadow: 0 -2px 0 inset;
		}
	}
	
	&.ab-drop-cap-square p:first-child:first-letter {
		background: #32373c;
		color: #fff;
		padding: .2em;
	}

	&.ab-drop-cap-border p:first-child:first-letter {
		color: #32373c;
		padding: .2em;
		border: solid 4px;
	}

	&:before, 
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}

	/* Font size styles */
	@media only screen and (min-width: 600px) {
		&.font-size-1 {
			p:first-child:first-letter {
				font-size: 75px;
			}
		}

		&.font-size-2 {
			p:first-child:first-letter {
				font-size: 85px;
			}
		}

		&.font-size-3 {
			p:first-child:first-letter {
				font-size: 95px;
			}
		}

		&.font-size-4 {
			p:first-child:first-letter {
				font-size: 105px;
			}
		}

		&.font-size-5 {
			p:first-child:first-letter {
				font-size: 115px;
			}
		}

		&.font-size-6 {
			p:first-child:first-letter {
				font-size: 125px;
			}
		}
	}
}