/**
 * Editor styles for the admin
 */

.edit-post-visual-editor .editor-block-list__block [data-type="atomic-blocks/ab-column"] {
    margin-left: 0;
    margin-right: 0;
}

.ab-layout-column-wrap-admin > .editor-inner-blocks > .editor-block-list__layout {
	display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0 2em;
    min-height: 0;
}

/* Grid gap classes */

.ab-block-layout-column-gap-0 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 0;
}

.ab-block-layout-column-gap-1 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 1em;
}

.ab-block-layout-column-gap-2 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 2em;
}

.ab-block-layout-column-gap-3 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 3em;
}

.ab-block-layout-column-gap-4 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 4em;
}

.ab-block-layout-column-gap-5 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 5em;
}

.ab-block-layout-column-gap-6 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 6em;
}

.ab-block-layout-column-gap-7 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 7em;
}

.ab-block-layout-column-gap-8 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 8em;
}

.ab-block-layout-column-gap-9 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 9em;
}

.ab-block-layout-column-gap-10 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 10em;
}

/* Grid column classes */

.ab-layout-columns-2 .editor-block-list__layout {
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.three-widecenter .editor-block-list__layout {
	grid-template-columns: 1fr 2fr 1fr !important;
}

.ab-2-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr;
}

.ab-2-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 2fr;
}

.ab-layout-columns-3 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr;

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-3-col-widecenter .editor-block-list__layout {
	grid-template-columns: 1fr 2fr 1fr;
}

.ab-3-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr 1fr;
}

.ab-3-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 2fr;
}

.ab-layout-columns-4 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-4-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr 1fr 1fr;
}

.ab-4-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 2fr;
}

.ab-layout-columns-5 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-layout-columns-6 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

/* Alignment styles */

.ab-block-layout-column .editor-block-list__block[data-align=full],
.ab-block-layout-column .editor-block-list__block[data-align=wide] {
	margin-left: auto;
	margin-right: auto;
}

.ab-block-layout-column {
	&.ab-is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.ab-is-vertically-aligned-center {
		align-self: center;
	}

	&.ab-is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}

[data-type="atomic-blocks/ab-columns"] {
	.components-placeholder {
		padding: 30px;
	}

	.components-placeholder__fieldset {
		max-width: 100%;
	}
}

.ab-layout-selector-button-back {
	margin-top: 23px;
	line-height: 1.4;
	display: inherit;
	vertical-align: middle;
	width: 100%;

	&:hover {
		color: #007cba;
	}

	&:active,
	&:focus,
	&:focus:enabled {
		background-color: transparent;
		box-shadow: none;
	}

	&:before {
		content: "\2190";
		margin-right: 5px;
	}

	svg {
		width: 16px;
    	margin-right: 5px;
	}
}

.ab-column-select-panel {
	.components-button-group {
		margin-bottom: 4px;
	}
	.components-button.is-small {
		height: auto;
		padding: 8px;
		margin: 0 5px 5px 0;
	}
}
