/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-lsx-blocks-cta-block {
	color: #fff;
	background: #418AD0;
	padding: 2em;
	h2.lsx-cta-title  {
		color: #fff;
		font-weight: 700;
	}
}
