.gutenberg-compatible-template.using-gutenberg {
	@media (min-width:768px) {
		&.has-block-banner {
			.breadcrumbs-container {
				position: relative;
				margin-bottom: -50px;
				z-index: 5;
			}
		}
	}

	.wp-block-lsx-blocks-lsx-banner-box.lsx-has-image {
		background-image: none !important;
		@media (min-width:600px) {
			.lsx-banner-image-wrap {
				picture {
					img, source {
						min-height: 350px;
						object-fit: cover;
					}
				}
			}
		}
	}
}
.wp-block-lsx-blocks-lsx-banner-box {
	position: relative;
	//margin-bottom: 5rem;
	display: flex;
    justify-content: center;
    flex-direction: column;
	&:not(.lsx-has-image) {
		padding-bottom: 1em;
	}
	&+ div {
		padding-top: 5rem;
	}
	@media only screen and (max-width: 766px) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.lsx-banner-column {
		position: relative;
		@media only screen and (max-width: 600px) {
			margin-bottom: 4rem;
		}
		@media only screen and (max-width: 600px) {
			height: 100% !important;
			min-height: initial !important;
		}
		.lsx-banner-image-wrap {
			max-height: 80vh;
			position: relative;
			overflow: hidden;
			// &:before {
			// 	content: '';
			// 	display: block;
			// 	width: 100%;
			// 	padding-bottom: calc(100vh - 40rem);
			// }
			@media only screen and (min-width: 600px) {
				&:empty {
					min-height: 300px;
				}
			}
			picture {
				// position: absolute;
				// top: 0;
				// left: 0;
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					@media (max-width:600px) {
						object-fit: cover;
						//min-height: 300px;
					}
				}
			}
		}
	}
	&.lsx-has-image {
		.lsx-banner-column {
			min-height: 100%;
		}
		&.lsx-container-bottom {
			img {
				object-position: bottom;
				//object-fit: none;
			}
		}

		&.lsx-container-top {
			img {
				object-position: top;
				//object-fit: none;
			}
		}

		&.lsx-container-center {
			img {
				object-position: center;
				//object-fit: none;
			}
		}

		&.lsx-container-left {
			img {
				object-position: left;
				object-fit: contain;
			}
		}
		&.lsx-container-right {
			img {
				object-position: right;
				object-fit: contain;
			}
		}
		&.lsx-container-clear {
			img {
				object-position: initial;
			}
		}
	}

	.lsx-banner-content-wrap {
		width: 100%;
		z-index: 4;
		padding-left: 50px;
		padding-right: 50px;
		@media only screen and (min-width: 600px) {
			position: absolute;
			//bottom: 20%;
		}
		.header-headings {
			//text-align: center;
			@media only screen and (max-width: 600px) {
				background: transparent !important;
			}
			@media only screen and (min-width: 600px) {
				//background: rgba(255, 255, 255, 0.83);
				border: 0;
				padding: 0.5rem;
				max-width: 65%;
				bottom: 4rem;
				margin: 0 auto;
				.lsx-banner-logo, .lsx-banner-title, .lsx-block-banner-button {
					&:empty {
						margin: 0;
					}
				}
			}
			.lsx-banner-title, .lsx-block-button {
				max-width: 80%;
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 0.5em;
			}
			.lsx-block-button {
				&:not(:empty) {
					margin-bottom: 2em;
				}
			}
			.page-header {
				margin-bottom: 0;
				.lsx-banner-name {
					margin-bottom: 0;
				}
			}
			@media (max-width:600px) {
				.lsx-banner-title, .lsx-banner-name {
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
	&.title-bottom {
		.lsx-banner-content-wrap {
			position: relative;
			.header-headings {
				background: white;
				margin-top: -8rem;
				padding: 2.5rem;
				@media only screen and (min-width: 600px) {
					max-width: 90%;
				}
			}
		}
	}
}
.lsx-banner-logo:not(:empty) {
	@media (min-width:600px) {
		padding-top: 3em;
	}
	.lsx-banner-logo-img {
		max-height: 95px;
		margin: 0.5em auto;
		max-width: 95px;
	}
}

