.wp-block-lsx-blocks-lsx-banner-box {
	position: relative;
	margin-bottom: 5rem;
	@media only screen and (max-width: 766px) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.lsx-banner-column {
		margin-bottom: 4rem;
		position: relative;
		@media only screen and (min-width: 600px) {
			min-height: 150px;
		}
		@media only screen and (min-width: 766px) {
			min-height: 250px;
			margin-bottom: 1rem;
		}
		.lsx-banner-image-wrap {
			picture {
				max-height: 500px;
				img {
					max-height: 500px;
				}
			}
		}
	}
	.lsx-banner-content-wrap {
		width: 100%;
		z-index: 4;
		padding-left: 50px;
		padding-right: 50px;
		@media only screen and (min-width: 600px) {
			position: absolute;
			bottom: 25%;
		}
		.header-headings {
			text-align: center;
			@media only screen and (min-width: 600px) {
				max-width: 75rem;
				background: rgba(255, 255, 255, 0.83);
				border: 0;
				padding: 1.875rem;
				max-width: 74.5%;
				text-align: center;
				bottom: 4rem;
				margin: 0 auto;
			}
			.page-header {
				width: 100%;
				max-width: 100%;
			}
		}
	}
	&.title-bottom {
		.lsx-banner-content-wrap {
			position: relative;
			.header-headings {
				background: white;
				max-width: 90%;
				margin-top: -8rem;
				padding: 1.25rem;
			}
		}
	}
}
