/**
 * Editor styles for the admin
 */

.ab-layout-modal {
	width: 750px;

	.components-modal__content {
		background: #f2f2f2;
	}

	.components-modal__header h1 {
		font-weight: bold;
		font-size: 1rem;
	}

	.components-tab-panel__tab-content {
		background: #fff;
		padding: 15px;
	}

	.components-tab-panel__tabs button {
		padding: 15px 20px;
		background: none;
		border: none;
		font-size: 16px;

		&:hover {
			background: #fff;
			cursor: pointer;
		}
	}

	.components-tab-panel__tabs .ab-layout-modal-active-tab {
		font-weight: 600;
		background: #fff;
	}

	.components-base-control {
		display: inline-block;
		width: 30%;
	}

	.components-base-control:last-child {
		float: right;
	}

	.ab-layout-modal-header {
		background: #f2f2f2;
		padding: 12px 20px;
		margin-bottom: 20px;
	}

	.ab-layout-choices {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;
	}

	.ab-layout-design {
		text-align: center;
		margin-bottom: 40px;

		img {
			max-width: 100%;
			border-radius: 5px;
		}

		.ab-layout-insert-button {
			height: auto;
			background: none;
			border: none;
			box-shadow: none;
			border-radius: 5px;
			border: solid 1px #ccc;
			border-bottom: none;
			padding: 0;

			&:hover {
				border: solid 1px #0085ba;
				border-bottom: none;
			}
		}
	}

	.ab-layout-design-info {
		background: #fff;
		border: solid 1px #ccc;
		text-align: left;
		position: relative;
		padding: 12px;

		button {
			position: absolute;
			right: 12px;
			top: 8px;
		}
	}

	.ab-layout-design-title {
		font-weight: bold;
	}

	.ab-layout-favorite-button {
		background: none;
		border: none;
		box-shadow: none;
	}

	.ab-layout-favorite-button:hover {
		background: none;
		box-shadow: none;
	}

	.ab-layout-favorite:hover {
		fill: #f9569b;
	}
}
