/**
 * Editor styles for the admin
 */

.edit-post-visual-editor .editor-block-list__block [data-type="atomic-blocks/ab-layout-column"] {
    margin-left: 0;
    margin-right: 0;
}

.ab-layout-column-wrap-admin > .editor-inner-blocks > .editor-block-list__layout {
	display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0 2em;
    min-height: 0;
}

/* Grid gap classes */

.ab-block-layout-column-gap-0 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 0;
}

.ab-block-layout-column-gap-1 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 1em;
}

.ab-block-layout-column-gap-2 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 2em;
}

.ab-block-layout-column-gap-3 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 3em;
}

.ab-block-layout-column-gap-4 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 4em;
}

.ab-block-layout-column-gap-5 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 5em;
}

/* Grid column classes */

.ab-layout-columns-2 .editor-block-list__layout {
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.three-widecenter .editor-block-list__layout {
	grid-template-columns: 1fr 2fr 1fr !important;
}

.ab-2-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr;
}

.ab-2-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 2fr;
}

.ab-layout-columns-3 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr;

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-3-col-widecenter .editor-block-list__layout {
	grid-template-columns: 1fr 2fr 1fr;
}

.ab-3-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr 1fr;
}

.ab-3-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 2fr;
}

.ab-layout-columns-4 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-4-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr 1fr 1fr;
}

.ab-4-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 2fr;
}

.ab-layout-columns-5 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-layout-columns-6 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

/* Alignment styles */

.ab-block-layout-column-inside .editor-block-list__block[data-align=full],
.ab-block-layout-column-inside .editor-block-list__block[data-align=wide] {
	margin-left: auto;
	margin-right: auto;
}

.ab-block-layout-column-inside .editor-block-list__block .editor-url-input input[type=text],
.ab-block-layout-column-inside .editor-url-input input[type=text] {
	width: 185px;
}

div[data-type="atomic-blocks/ab-layout-column-price"] .editor-rich-text__tinymce {
	line-height: 1;
}

.ab-layout-has-currency div .editor-rich-text:first-child {
	vertical-align: top;
	margin-top: .7em;
	margin-right: 3px;
	line-height: 1;
}

.ab-layout-column-title.editor-rich-text__tinymce:focus strong[data-mce-selected] {
	background: transparent;
	color: inherit;
}

/* Pricing column components */

div[data-type="atomic-blocks/ab-layout-column-price"] .editor-block-list__block-edit div .editor-rich-text {
	display: inline-block;
}

.ab-block-layout-column .editor-block-list__layout div:first-child .editor-block-list__block-edit {
	margin-top: 0;
}

[data-type="atomic-blocks/ab-layout"] {
	.components-placeholder {
		padding: 30px;
	}

	.components-placeholder__fieldset {
		max-width: 100%;
	}
}

.ab-layout-selector-button-back {
	margin-top: 23px;
	line-height: 1.4;
	display: inherit;
	vertical-align: middle;
	width: 100%;

	&:hover {
		color: #007cba;
	}

	&:active,
	&:focus,
	&:focus:enabled {

	}

	&:before {
		content: "\2190";
		margin-right: 5px;
	}

	svg {
		width: 16px;
    	margin-right: 5px;
	}
}

.ab-layout-modal {
	width: 750px;

	.components-modal__content {
		background: #f2f2f2;
	}

	.components-modal__header h1 {
		font-weight: bold;
		font-size: 1rem;
	}

	.components-tab-panel__tab-content {
		background: #fff;
		padding: 15px;
	}

	.components-tab-panel__tabs button {
		padding: 15px 20px;
		background: none;
		border: none;
		font-size: 16px;

		&:hover {
			background: #fff;
			cursor: pointer;
		}
	}

	.components-tab-panel__tabs .active-tab {
		font-weight: 600;
		background: #fff;
	}

	.components-base-control {
		display: inline-block;
		width: 30%;
	}

	.components-base-control:last-child {
		float: right;
	}

	.ab-layout-modal-header {
		background: #f2f2f2;
		padding: 12px 20px;
		margin-bottom: 20px;
	}

	.ab-layout-choices {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;
	}

	.ab-layout-design {
		text-align: center;
		margin-bottom: 40px;

		img {
			max-width: 100%;
			border-radius: 5px;
		}

		.ab-layout-insert-button {
			height: auto;
			background: none;
			border: none;
			box-shadow: none;
			border-radius: 5px;
			border: solid 1px #ccc;
			border-bottom: none;
			padding: 0;

			&:hover {
				border: solid 1px #0085ba;
				border-bottom: none;
			}
		}
	}

	.ab-layout-design-info {
		background: #fff;
		border: solid 1px #ccc;
		text-align: left;
		position: relative;
		padding: 12px;

		button {
			position: absolute;
			right: 12px;
			top: 8px;
		}
	}

	.ab-layout-design-title {
		font-weight: bold;
	}

	.ab-layout-favorite-button {
		background: none;
		border: none;
		box-shadow: none;
	}

	.ab-layout-favorite-button:hover {
		background: none;
		box-shadow: none;
	}

	.ab-layout-favorite:hover {
		fill: #f9569b;
	}
}
