/**
 * Post grid styles
 * Loads on front end and back end
 */

 .ab-block-post-grid {
	margin: 0 0 1.2em 0;
	position: relative;

	.ab-post-grid-items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 2em;

		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;	
		}
	}	

	.ab-post-grid-items li {
		list-style: none;
		margin: 0;
	}
}