/**
 * Post grid styles
 * Loads on front end and back end
 */

 .ab-block-post-grid {
	margin: 0 0 1.2em 0;
	position: relative;

	.ab-post-grid-items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 0 2em;

		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}	

	.is-grid.columns-2 {
		grid-template-columns: 1fr 1fr;
	}

	.is-grid.columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.is-grid.columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.ab-post-grid-items article {
		list-style: none;
		margin: 0;
	}

	.ab-block-post-grid-image {
		margin-bottom: 4%;

		img {
			display: block;
		}
	}
}