/**
 * Post grid styles
 * Loads on front end and back end
 */

 .ab-block-post-grid {
	margin: 0 0 1.2em 0;
	position: relative;

	.ab-post-grid-items {
		
	}

	.is-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;

		article {
			margin-bottom: 2em;
		}
	}

	.is-grid.columns-2 {
		grid-template-columns: 1fr 1fr;
	}

	.is-grid.columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.is-grid.columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	div[class*="columns"].is-grid {
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.ab-block-post-grid-image {
		margin-bottom: 1.2em;

		img {
			display: block;
			width: 100%;
		}
	}

	.ab-block-post-grid-text {
		text-align: left;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 1.2;

		a {
			color: $black;
			transition: .3s ease;

			&:hover {
				box-shadow: inset 0 -2px 0 $accent;
				color: $accent;
			}
		}
	}

	.ab-block-post-grid-byline {
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1px;
		color: $lightgray;
		margin-bottom: 15px;
	}

	.ab-block-post-grid-author, 
	.ab-block-post-grid-date {
		display: inline-block;

		&:not(:last-child):after {
			content: "\B7";
			vertical-align: middle;
			margin: 0 5px;
			line-height: 1;
		}
	}

	.ab-block-post-grid-author a {
		box-shadow: none;

		&:hover {
			color: inherit;
			box-shadow: 0 -1px 0 inset;
			color: $accent;
		}
	}

	.ab-block-post-grid-text p {
		margin-top: 0; 

		&:last-child {
			margin-bottom: 0;
		}
	}

	.is-grid .ab-block-post-grid-text p {
		font-size: 18px;
		line-height: 1.5;
	}

	.ab-block-post-grid-excerpt {

	}

	.is-list {
		article {
			display: grid;
			grid-template-columns: 30% 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0 2em;
			border-bottom: solid 1px #eee;
			margin-bottom: 5%;
			padding-bottom: 5%;

			@media only screen and (max-width: 600px) {
				grid-template-columns: 1fr;
			}
		}

		.ab-block-post-grid-image {
			margin-bottom: 0;

			@media only screen and (max-width: 600px) {
				margin-bottom: 5%;
			}
		}

		.no-thumb .ab-block-post-grid-text {
			grid-column: span 2;
		}
	}
}