/**
 * Loads on front end and back end
 */

 .ab-layout-split {
	background: #f2f2f2;
	color: #293038;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 1.2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;

	.ab-layout-split-column {
		flex: 2 0 0;
	}

	.ab-layout-split-content {
		padding: 5%;
	}

	.ab-layout-split-image-wrap {
		position: relative;
	}

	img + .ab-layout-split-media {
		display: none;
	}

	.ab-layout-split-media {
		height: 100%;
	}
}

.ab-layout-split-image-flex {
	align-items: stretch;

	img,
	.gutenberg__editor & img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.ab-layout-split-image-top {
	align-items: flex-start;
}

.ab-layout-split-image-center {
	align-items: center;
}

.ab-layout-split-flip {
	flex-direction: row-reverse;
}