/**
 * Editor styles for the admin
 */

.lsx-block-profile {
    margin-bottom: 0;
}

.editor-block-list__layout [data-type="lsx-blocks/lsx-profile-box"] {
    margin-bottom: 1.2em;
}

.lsx-profile-image-wrap {
    svg {
        pointer-events: none;
        margin: 0 auto;
    }

    .components-button:not(:disabled):not([aria-disabled=true]):focus {
        background: none;
        box-shadow: none;
    }
}

.lsx-profile-content-wrap {
    h2.editor-rich-text__tinymce {
        line-height: 1.2;
    }

    p.editor-rich-text__tinymce {
        line-height: 1.6;
    }
}
