/**
 * Editor styles for the admin
 */

.ab-block-profile {
    margin-bottom: 0;
}

.block-editor-block-list__layout [data-type="atomic-blocks/ab-profile-box"] {
    margin-bottom: 1.2em;
}

.ab-profile-image-wrap {
    svg {
        pointer-events: none;
        margin: auto;
    }

    .components-button:not(:disabled):not([aria-disabled=true]):focus {
        background: none;
        box-shadow: none;
    }
}

.ab-profile-content-wrap {
    h2.editor-rich-text__tinymce {
        line-height: 1.2;
    }

    p.editor-rich-text__tinymce {
        line-height: 1.6;
    }
}

#editor .wp-block-atomic-blocks-ab-profile-box.square .ab-remove-image {
	top: 5px;
	right: 5px;
}

#editor .ab-has-avatar {

	.ab-profile-image-square {
		button {
			top: 0;
			left: 0;
			height: 100%;
		}

		.ab-change-image {
			transition: .2s ease;

			&:hover {
				opacity: .7;
			}
		}
	}
}
