/**
 * Testimonial styles
 * Loads on front end and back end
 */

 .block-profile {
	background: #f2f2f2;
	color: #293038;
	margin: 0 auto;
	padding: 3%;
	border-radius: 5px;

	.profile-avatar-wrap {
		position: relative;
	}

	.profile-info {
		line-height: 1.4;
	}

	.profile-info {
		.blocks-editable {
			padding-left: 0;
		}

		.profile-avatar-wrap {
			position: absolute;
			left: 0;
			top: 0; 
		}
	}

	.profile-text {
		font-size: 18px;
		padding-top: 1em;

		p {
			line-height: 1.6; 

			&:last-child {
			margin-bottom: 0;
			}
		}
	}

	.profile-name {
		font-size: 1.4em;
		font-weight: bold;
		line-height: 1.2;
		margin: 0; 
	}

	.profile-title {
		opacity: .8;
		padding-top: 5px;
		margin-bottom: 0;
	}

	.profile-image-square {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 5;
	}

	.profile-image-wrap {
		width: 100%;
		background: #ddd;
		position: relative;
		width: 100%;

		&:before {
			content: '';
			display: inline-block;
			padding-top: 100%;
		}

		button {
			position: absolute;
			z-index: 50;
			padding: 0; 
			height: 100%;
			width: 100%;
		}

		button:focus {
			background: none;
			border: none;
			outline: none;
			box-shadow: none; 
		}

		svg {
			pointer-events: none;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 5;
		}
	}

	.social-links {
		list-style: none;
		margin: 0 0 0 0;
		padding: 4% 0 0 0;
		font-size: 0;
		
		li {
			display: inline-block;
			margin: 0 8px 0 0;
			padding: 0;
		
			a {
				border: none;
	
				&:hover {
					opacity: .8;
				}
			}
	
			i {
				font-size: 18px;
				background: #0393e3;
				color: #fff;
				padding: 10px;
				border-radius: 100px;
				height: 38px;
				width: 38px;
				text-align: center;
			}
		}
	}
}

.round .profile-image-wrap {
	border-radius: 500px;
	overflow: hidden;
	
	&:before {
		content: '';
		display: inline-block;
		padding-top: 92%;
	}
}

#editor .has-avatar {
	.profile-image-wrap {
		button {
			opacity: 0;
			transition: .3s ease;
		}

		img {
			transition: .3s ease; 
		}

		&:hover img {
			opacity: .2; 
		}

		&:hover button {
			opacity: 1; 
		}
	}
}