/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .wp-block-lsx-blocks-faq-block {
	background: #fff;
	border: 1px solid #DDDDDD;
	padding: 20px 30px;
	h2.faq-accordion-title {
		margin: 0;
		font-family: 'Noto Sans', sans-serif;
		font-size: 16px;
		&:before {
			content: 'Q: ';
		}
	}
	.faq-accordion-text {
		font-family: 'Noto Sans', sans-serif;
		font-size: 15px;
		&:before {
			content: 'A: ';
		}
	}
}
