/**
 * Spacer styles
 * Loads on front end and back end
 */

 .lsx-block-spacer {
	margin: 0 auto 1.2em;
	position: relative;

	hr {
		border: none;
		margin: 0;
	}

	&.lsx-spacer-divider:after {
		content: " ";
		width: 100%;
		height: 1px;
		border-top: solid 1px;
		position: absolute;
		top: 50%;
	}

	&.lsx-divider-solid.lsx-spacer-divider:after {
		border-top-style: solid;
	}

	&.lsx-divider-dotted.lsx-spacer-divider:after {
		border-top-style: dotted;
	}

	&.lsx-divider-dashed.lsx-spacer-divider:after {
		border-top-style: dashed;
	}

	&.lsx-divider-size-1.lsx-spacer-divider:after {
		border-top-width: 1px;
	}

	&.lsx-divider-size-2.lsx-spacer-divider:after {
		border-top-width: 2px;
	}

	&.lsx-divider-size-3.lsx-spacer-divider:after {
		border-top-width: 3px;
	}

	&.lsx-divider-size-4.lsx-spacer-divider:after {
		border-top-width: 4px;
	}

	&.lsx-divider-size-5.lsx-spacer-divider:after {
		border-top-width: 5px;
	}
}
