/**
 * Editor styles for the admin
 */

 .wp-block-lsx-blocks-lsx-cta {

 }

.editor-block-list__layout [data-type="lsx-blocks/lsx-cta"] {
    margin-bottom: 1.2em;
}

 .lsx-cta-button {
    .blocks-button__inline-link .editor-url-input {
        display: inline-block;
        width: auto;
    }

    .blocks-button__inline-link .components-button {
        display: inline-block;
    }

    .blocks-button__inline-link svg {
        vertical-align: middle;
        margin-right: 8px;
    }
}

.wp-block-lsx-blocks-lsx-cta h2.editor-rich-text__tinymce.mce-content-body {
    line-height: 1.2;
}
