/**
 * Editor styles for the admin
 */

.lsx-block-cta {
	margin-bottom: 0;
	.lsx-button-back {
		text-align: center;
		font-size: 18px;
		line-height: 1 !important;
		background-color: #32373c;
		border: none;
		border-radius: 50px;
		box-shadow: none;
		color: #fff;
		cursor: pointer;
		padding: .6em 1em;
		text-decoration: none;
		word-break: break-word;
		transition: .3s ease;
		display: inline-block;
	}
}

.editor-block-list__layout [data-type="lsx-blocks/lsx-cta"] {
    margin-bottom: 1.2em;
}

 .lsx-cta-button {
    .blocks-button__inline-link .editor-url-input {
        display: inline-block;
        width: auto;
    }

    .blocks-button__inline-link .components-button {
        display: inline-block;
    }

    .blocks-button__inline-link svg {
        vertical-align: middle;
        margin-right: 8px;
    }
}

.lsx-block-cta h2.editor-rich-text__tinymce.mce-content-body {
    line-height: 1.2;
}
