/**
 * Editor styles for the admin
 */

 .ab-cta-button {
    .blocks-button__inline-link .editor-url-input {
        display: inline-block;
    }

    .blocks-button__inline-link .components-button {
        display: inline-block;
    }

    .blocks-button__inline-link svg {
        vertical-align: middle;
        margin-right: 8px;
    }
}