/**
 * CTA styles
 * Loads on front end and back end
 */

 .lsx-block-cta {
	margin: 0 0 1.2em 0;
	position: relative;
	background: #f2f2f2;
    color: #293038;
	padding: 5% 3%;
	border-radius: 5px;
	box-shadow: none !important;
	.components-autocomplete {
		display: inline-block;
		width: auto;
		margin: 0 auto;
		position: relative;
	}

	* {
		z-index: 10;
		position: relative;
	}

	&.alignfull {
		border-radius: 0;
		padding: 5%;
	}

	@media only screen and (max-width: 768px) {
		padding: 8% 6%;
	}

	&.alignfull .lsx-cta-content,
	&.alignfull .lsx-cta-button {
		@media only screen and (min-width: 768px) {
			max-width: 60%;
			margin: 0 auto;
		}
	}

	&.alignwide .lsx-cta-content,
	&.alignwide .lsx-cta-button {
		@media only screen and (min-width: 768px) {
			max-width: 80%;
			margin: 0 auto;
		}
	}

	.lsx-cta-image-wrap {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		z-index: 1;
	}

	.lsx-cta-image {
		object-fit: cover;
		height: 100%;
		width: 100%;
		transition: .3s ease;
	}

	.lsx-cta-title {
		display: inline-block;
		width: 100%;
		margin-bottom: .5em;
		line-height: 1.2;
		max-width: 100%;
	}

	.lsx-cta-text {
		line-height: 1.4;

		p {
			color: inherit;
			display: inline-block;
			width: 100%;
			max-width: 100%;
		}

		a {
			color: inherit;
			box-shadow: 0 -1px 0 inset;
			text-decoration: none;

			&:hover {
				color: inherit;
				box-shadow: 0 -2px 0 inset;
			}
		}
	}

	.lsx-cta-button .blocks-rich-text {
		display: inline-flex;
	}

	.lsx-button {
		text-align: center;
		cursor: pointer;
		text-decoration: none;
		word-break: break-word;
		border: 0 none;
		border-radius: 3px;
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.54px;
		line-height: 1.25;
		padding: 15px 40px;
		transition: all 100ms ease;
		@media only screen and (max-width: 600px) {
			width: 100%;
		}
	}

	.lsx-cta-title:empty,
	.lsx-cta-text:empty,
	.lsx-cta-button:empty,
	.lsx-button:empty {
		display: none;
	}

	.lsx-button-shape-square {
		border-radius: 0;
	}

	.lsx-button-shape-rounded {
		border-radius: 5px;
	}

	.lsx-button-shape-circular {
		border-radius: 100px;
	}

	.lsx-button-size-small {
		font-size: 10px;
	}

	.lsx-button-size-medium {
		font-size: 14px;
	}

	.lsx-button-size-large {
		font-size: 22px;
		padding: .8em 1.2em;
	}

	.lsx-button-size-extralarge {
		font-size: 30px;
		padding: .8em 1.2em;
	}

	.lsx-font-size-24.lsx-cta-title {
		font-size: 24px;
	}

	.lsx-font-size-26.lsx-cta-title {
		font-size: 26px;
	}

	.lsx-font-size-28.lsx-cta-title {
		font-size: 28px;
	}

	.lsx-font-size-30.lsx-cta-title {
		font-size: 30px;
	}

	.lsx-font-size-32.lsx-cta-title {
		font-size: 32px;
	}

	.lsx-font-size-34.lsx-cta-title {
		font-size: 34px;
	}

	.lsx-font-size-36.lsx-cta-title {
		font-size: 36px;
	}

	.lsx-font-size-38.lsx-cta-title {
		font-size: 38px;
	}

	.lsx-font-size-40.lsx-cta-title {
		font-size: 40px;
	}

	.lsx-font-size-42.lsx-cta-title {
		font-size: 42px;
	}

	.lsx-font-size-44.lsx-cta-title {
		font-size: 44px;
	}

	.lsx-font-size-46.lsx-cta-title {
		font-size: 46px;
	}

	.lsx-font-size-48.lsx-cta-title {
		font-size: 48px;
	}

	.lsx-font-size-50.lsx-cta-title {
		font-size: 50px;
	}

	.lsx-font-size-52.lsx-cta-title {
		font-size: 52px;
	}

	.lsx-font-size-54.lsx-cta-title {
		font-size: 54px;
	}

	.lsx-font-size-56.lsx-cta-title {
		font-size: 56px;
	}

	.lsx-font-size-58.lsx-cta-title {
		font-size: 58px;
	}

	.lsx-font-size-60.lsx-cta-title {
		font-size: 60px;
	}

	.blocks-button__inline-link {
		margin-top: 15px;
	}

	.lsx-cta-image:not(.has-background-dim) {
		opacity: 0;
	}

	.has-background-dim {
		opacity: .5;
	}

	.has-background-dim-10 {
		opacity: .1;
	}

	.has-background-dim-20 {
		opacity: .2;
	}

	.has-background-dim-30 {
		opacity: .3;
	}

	.has-background-dim-40 {
		opacity: .4;
	}

	.has-background-dim-50 {
		opacity: .5;
	}

	.has-background-dim-60 {
		opacity: .6;
	}

	.has-background-dim-70 {
		opacity: .7;
	}

	.has-background-dim-80 {
		opacity: .8;
	}

	.has-background-dim-90 {
		opacity: .9;
	}

	.has-background-dim-100 {
		opacity: 1;
	}
}

.lsx-button-right {
	transform: translateX(-100%);
	left: 100%;
	position: relative;
}

.lsx-button-center {
	margin: 0 auto;
}

.lsx-cta-inspector-media.components-button {
	vertical-align: top;
	border: 1px solid #e2e4e7;
	background-color: #fff;
	display: inline-flex;
	border-radius: 3px;
	margin-bottom: 15px;

	&:hover {
		box-shadow: none !important;
		border: solid 1px #555d66;
	}

	&:first-child {
		margin-right: 8px;
	}

	svg {
		margin-right: 5px;
	}
}
