/**
 * Testimonial styles
 * Loads on front end and back end
 */

 .wp-block-lsx-blocks-block-testimonials {
	blockquote:before {
		content: '”' !important;
	}

}

.right-aligned {
	.lsx-testimonial-info {
		text-align: right;

		h2 {
			left: 0;
		}

		.lsx-testimonial-name,
		.lsx-testimonial-title {
			margin-right: 70px;
			margin-left: 0;
		}

		.lsx-testimonial-avatar-wrap {
			left: auto;
			right: 0;
		}
	}
}
