/**
 * Editor styles for the admin
 */

.ab-device-add-image {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	text-align: center;

	&.components-button:focus:enabled {
		background: none;
		box-shadow: none;
		outline: none;
	}

	svg {
		fill: #fff;
		margin: 0 auto;
		width: 100px;
		height: 50px;
		opacity: .7;
	}
}

#editor div[class^="wp-block-atomic-blocks-"].ab-device-mockup .ab-remove-image {
	right: 20px;
    top: 20px;
}
