#editor div[class^="wp-block-atomic-blocks-"] {
	.ab-change-image {
		position: absolute;
		z-index: 50;
		padding: 0;
		top: 0;
		left: 0;
		opacity: 1;
		height: 100%;

		img {
			transition: .2s ease;
		}

		&:hover {
			img {
				opacity: .7
			}
		}
	}

	.ab-change-image:focus {
		background: none;
		border: none;
		outline: none;
		box-shadow: none;
	}

	.ab-add-image {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 50;
		padding: 0;
		width: 100%;
		height: 100%;

		svg {
			position: absolute;
			top: 17px;
			left: 19px;
		}
	}

	.ab-remove-image {
		color: #ec3939;
		position: absolute;
		right: 0;
		top: 0;
		height: auto;
		width: 20px;
		left: auto;
		z-index: 60;
		margin: 0;
		padding: 0;
		background: #fff;
		border-radius: 50px;

		&:active,
		&:focus {
			color: #ec3939;
			background: #fff;
		}
	}

	.ab-remove-image:not(:disabled):not([aria-disabled=true]):focus {
		background: #fff;
	}
}

.ab-inspector-help-text {
	.components-base-control__help {
		margin-top: 0;
	}
}

@import 'type.scss';

.wp-block *[class*="gpb-fluid"],
.editor-styles-wrapper *[class*="gpb-fluid"] {
	margin: 0 0 1rem 0;
	line-height: 1.1;
	font-weight: normal;
}

.editor-styles-wrapper .gpb-fluid-1 {
	@include fluid-font-size(20px, 26px, $vp-small, $vp-large);
}

.editor-styles-wrapper .gpb-fluid-2 {
	@include fluid-font-size(22px, 30px, $vp-small, $vp-large);
}

.editor-styles-wrapper .gpb-fluid-3 {
	@include fluid-font-size(24px, 38px, $vp-small, $vp-large);
}

.editor-styles-wrapper .gpb-fluid-4 {
	@include fluid-font-size(28px, 44px, $vp-small, $vp-large);
}

.editor-styles-wrapper .gpb-fluid-5 {
	@include fluid-font-size(32px, 52px, $vp-small, $vp-large);
}

.editor-styles-wrapper .gpb-fluid-6 {
	@include fluid-font-size(36px, 60px, $vp-small, $vp-large);
}
