/**
 * Common styles
 * Loads on front end and back end
 */

 @import 'type.scss';
 @import 'utility.scss';

/* Font size styles */
@media only screen and (min-width: 600px) {

	div[class*="wp-block-atomic"].ab-font-size-14 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 14px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-15 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 15px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-16 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 16px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-17 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 17px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-18 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 18px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-19 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 19px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-20 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 20px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-21 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 21px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-22 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 22px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-23 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 23px;
		}
	}

	div[class*="wp-block-atomic"].ab-font-size-24 {

		&.ab-block-testimonial p,
		&.ab-block-notice p,
		&.ab-block-profile p,
		&.ab-block-cta p {
			font-size: 24px;
		}
	}
}

/* Fluid Typography */

*[class*="gpb-fluid"],
.entry-content *[class*="gpb-fluid"] {
	margin: 0 0 1rem 0;
	line-height: 1.2;
	font-weight: normal;
}

.gpb-fluid-1 {
	@include fluid-font-size(20px, 26px, $vp-small, $vp-large);
}

.gpb-fluid-2 {
	@include fluid-font-size(22px, 30px, $vp-small, $vp-large);
}

.gpb-fluid-3 {
	@include fluid-font-size(24px, 38px, $vp-small, $vp-large);
}

.gpb-fluid-4 {
	@include fluid-font-size(28px, 44px, $vp-small, $vp-large);
}

.gpb-fluid-5 {
	@include fluid-font-size(32px, 52px, $vp-small, $vp-large);
}

.gpb-fluid-6 {
	@include fluid-font-size(36px, 60px, $vp-small, $vp-large);
}

/* Alignment styles */
.ab-align-center {
	text-align: center;
}

.ab-align-left {
	text-align: left;
}

.ab-align-right {
	text-align: right;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

@media only screen and (min-width: 600px) {

	.wp-block-columns .layout-column-1,
	.wp-block-columns .layout-column-2 {
		margin-right: 5%;
	}
}

.wp-block-image {
	margin-bottom: 1.2em;
}

.ab-text-link {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: inherit;
		text-decoration: underline;
	}
}

/* Background image/color opacity */

.ab-has-parallax {
	background-attachment: fixed;
	background-size: cover;
    background-position: 50%;
}

.ab-has-background-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    opacity: 0;
    z-index: 1;
}

.ab-has-background-dim.has-theme-primary-background-color:before,
.ab-has-background-dim.ab-has-custom-background-color:before {
	background-color: inherit;
}

.ab-has-background-dim-0 {
	&:before {
		opacity: 1;
	}
}

.ab-has-background-dim-10 {
	&:before {
		opacity: .9;
	}
}

.ab-has-background-dim-20 {
	&:before {
		opacity: .8;
	}
}

.ab-has-background-dim-30 {
	&:before {
		opacity: .7;
	}
}

.ab-has-background-dim-40 {
	&:before {
		opacity: .6;
	}
}

.ab-has-background-dim-50 {
	&:before {
		opacity: .5;
	}
}

.ab-has-background-dim-60 {
	&:before {
		opacity: .4;
	}
}

.ab-has-background-dim-70 {
	&:before {
		opacity: .3;
	}
}

.ab-has-background-dim-80 {
	&:before {
		opacity: .2;
	}
}

.ab-has-background-dim-90 {
	&:before {
		opacity: .1;
	}
}

.ab-has-background-dim-100 {
	&:before {
		opacity: 0;
	}
}

div.ab-background-auto {
	background-size: auto;
	background-position: center center;
}

div.ab-background-cover {
	background-size: cover;
}

div.ab-background-contain {
	background-size: contain;
	background-position: center center;
}

div.ab-background-no-repeat {
	background-repeat: no-repeat;
}

div.ab-background-repeat {
	background-repeat: repeat;
}

div.ab-background-repeat-x {
	background-repeat: repeat-x;
}

div.ab-background-repeat-y {
	background-repeat: repeat-y;
	background-position: center center;
}

ol.gpb-number-list,
.editor-styles-wrapper ol.gpb-number-list {
	list-style: none;
	counter-reset: gpb-list-counter;
	padding: 0;
	margin-left: 0;
}

ol.gpb-number-list li,
.editor-styles-wrapper ol.gpb-number-list li {
	list-style-type: none;
	counter-increment: gpb-list-counter;
	position: relative;
	padding-left: 65px;
	margin-bottom: 1.2em;
}

ol.gpb-number-list li::before {
	content: counter(gpb-list-counter) "";
	color: #fff;
	background: #333;
	position: absolute;
	left: 0;
	top: 10px;
	text-align: center;
    border-radius: 100px;
    height: 42px;
    width: 42px;
    line-height: 41px;
}
