/**
 * Utility classes
 * Provide a way to modify layouts with sprinkled in classes
 */

/* Overflow */

.gp-overflow-hidden {
	overflow: hidden;
}

/* Grid Enhancements */

.gp-grid-mobile-space .ab-is-responsive-column {
	grid-row-gap: 1em;
}

 /* Border Radius */

.gp-rounded-sm {
	border-radius: 5px;
}

.gp-rounded-md {
	border-radius: 10px;
}

.gp-rounded-lg {
	border-radius: 20px;
}

.gp-rounded-xl {
	border-radius: 30px;
}

.gp-rounded-full {
	border-radius: 500px;
}

/* Alignment */

.gp-mobile-align-reset {
	@media only screen and (max-width: 600px) {
		float: none;
		text-align: left;
		margin-left: 0 !important;
		margin-right: 0;
	}
}
