/**
 * Pricing Table styles
 * Loads on front end and back end
 */

.ab-block-pricing-tables {

}

[data-type="atomic-blocks/ab-pricing-table"] {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	background: #f2f2f2;
}