/**
 * ----------------------------------------------------------------------------
 * #.# Frontend CSS
 *
 * BLOCK:  FAQ's Block CSS for the editor & front end.
 * ----------------------------------------------------------------------------
 */

 .wp-block-lsx-blocks-faq-block {
	color: #000000;
	background: gold;
	border: 0.2rem solid goldenrod;
	padding: 2rem;
}
