/**
 * ----------------------------------------------------------------------------
 * #.# Frontend CSS
 *
 * BLOCK:  FAQ's Block CSS for the editor & front end.
 * ----------------------------------------------------------------------------
 */

 .wp-block-lsx-blocks-faq-block #accordion .card .btn-link {
	text-transform: uppercase;
}
.wp-block-lsx-blocks-faq-block #accordion .card button.btn-link:before {
    content: 'Q:';
    margin-right: 1em;
    font-weight: bold;
}

.wp-block-lsx-blocks-faq-block #accordion .card .collapse .tab-content:before {
	content: 'A:';
    margin-right: 1em;
    font-weight: bold;
}