/**
 * Accordion styles
 * Loads on front end and back end
 */

 .ab-block-accordion {
	 margin-bottom: 1.2em; 

	.ab-accordion-title {
		background: #f2f2f2;
		padding: 10px 15px;
		
		p {
			display: inline;
		}
	}

	.ab-accordion-text {
		padding: 10px 15px;
	}

	.editor-rich-text .editor-rich-text__inline-toolbar {
		display: block;
		left: 40%;
	}
}

.ab-block-accordion + .ab-block-accordion {
	margin-top: -.6em;
}
