/**
 * Editor styles for the admin
 */

 .ab-block-post-grid {
	.ab-block-post-grid-title a {
		 text-decoration: none;
	}
 }

 .atomic-blocks-hide-query .components-base-control:nth-of-type(3) {
	 display: none;
 }

 .ab-block-post-grid-markup-settings {
	 .components-base-control__help {
		 margin-top: 8px;
	 }
 }

 .block-editor__container .editor-block-list__block .ab-block-post-grid a {
	 color: inherit;
 }

 .ab-block-post-grid-image {
	 position: relative;

	 &:hover {
		.ab-post-grid-no-image-placeholder {
			opacity: 1;
			z-index: 1;
		}
	 }
 }

 .ab-post-grid-no-image-placeholder {
	padding: 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #f3f3f4;
	transition: .2s ease;

	svg {
		margin-bottom: 10px;
	}
 }

.ab-post-grid-no-image-icon {
	position: absolute;
	top: 10px;
	background: #ffe606;
	right: 10px;
	padding: 6px;
	line-height: 1;
	height: 32px;
	transition: .2s ease;
	border-radius: 5px;
	z-index: 1;
}

.block-editor__container .components-placeholder__fieldset .ab-post-grid-image-help {
	display: inline-block;
	font-weight: bold;

	a {
		color: #0073aa;
		text-decoration: underline;

		&:hover {
			color: #00a0d2;
		}
	}
}
