/**
 * Editor styles for the admin
 */

 .ab-block-post-grid {
	.ab-block-post-grid-title a {
         text-decoration: none;
    }
 }

 .atomic-blocks-hide-query .components-base-control:nth-of-type(3) {
     display: none;
 }

 .ab-block-post-grid-markup-settings {
	 .components-base-control__help {
		 margin-top: 8px;
	 }
 }

 .block-editor__container .editor-block-list__block .ab-block-post-grid a {
	 color: inherit;
 }
