/**
 * Post grid styles
 * Loads on front end and back end
 */

 .lsx-block-post-grid {
	margin: 0 0 1.2em 0;
	position: relative;

	.is-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;

		article {
			margin-bottom: 2.5em;
			background-color: #fff;
		}
	}

	.is-grid.columns-2 {
		grid-template-columns: 1fr 1fr;
	}

	.is-grid.columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
		.lsx-block-post-grid-image {
			img {
				max-height: 170px;
			}
		}
	}

	.is-grid.columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		.lsx-block-post-grid-image {
			img {
				max-height: 160px;
			}
		}
	}

	div[class*="columns"].is-grid {
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.lsx-block-post-grid-image {
		margin-bottom: 1.2em;

		img {
			display: block;
			width: 100%;
		}
	}

	.lsx-block-post-grid-text {
		text-align: left;
	}

	h2 {
		text-align: center;
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 1.2;

		a {
			color: $black;
			box-shadow: none;
			transition: .3s ease;

			&:hover {
				box-shadow: inset 0 -2px 0 $accent;
				color: $accent;
			}
		}
	}

	.lsx-block-post-grid-byline {
		//text-transform: uppercase;
		text-align: center;
		font-size: 13px;
		letter-spacing: 1px;
		color: $lightgray;
		margin-bottom: 15px;
		.lsx-block-post-avatar {
			position: relative;
			top: -4em;
			margin-bottom: -4em;
			img {
				border-radius: 50%;
				width: 75px !important;
				margin-bottom: 1em;
				border: 2px solid #FFF;
			}
		}
	}

	.lsx-block-post-grid-author,
	.lsx-block-post-grid-date {
		display: inline-block;

		&:not(:last-child):after {
			content: "by";
			vertical-align: middle;
			margin: 0 5px;
			line-height: 1;
		}
	}

	.lsx-block-post-grid-author a {
		box-shadow: none;

		&:hover {
			color: inherit;
			box-shadow: 0 -1px 0 inset;
			color: $accent;
		}
	}

	.lsx-block-post-grid-text p {
		margin: 0 0 15px 0;
		line-height: 1.5;
		font-size: 18px;

		@media only screen and (max-width: 600px) {
			font-size: 16px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.lsx-block-post-grid-link {
		display: inline-block;
		box-shadow: none;
		transition: .3s ease;
		font-weight: bold;
		color: $black;

		&:hover {
			box-shadow: 0 -2px 0 inset;
		}
		&:after {
			content: " \27F6";
			padding-left: 5px;
		}
	}

	.lsx-block-post-grid-excerpt {
		padding: 0 2em 2em 2em;
		div + p {
			margin-top: 15px;
		}
		.moretag {
			display: none;
		}
	}

	.is-list {
		article {
			display: grid;
			grid-template-columns: 30% 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0 2em;

			&:not(:last-child) {
				margin-bottom: 5%;
				padding-bottom: 5%;
			}

			@media only screen and (min-width: 600px) {
				&:not(:last-child) {
					border-bottom: solid 1px #eee;
				}
			}

			@media only screen and (max-width: 600px) {
				grid-template-columns: 1fr;
			}
		}

		.lsx-block-post-grid-image {
			margin-bottom: 0;

			@media only screen and (max-width: 600px) {
				margin-bottom: 5%;
			}
		}

		.lsx-block-post-grid-title {
			padding: 0 1em;
			@media only screen and (min-width: 600px) {
				font-size: 34px;
			}
		}

		.no-thumb .lsx-block-post-grid-text {
			grid-column: span 2;
		}
	}
}
