/**
 * Pricing table styles
 * Loads on front end and back end
 */

.ab-pricing-table-wrap {
	display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0 2em;
}

[data-type="atomic-blocks/ab-pricing-table"],
.wp-block-atomic-blocks-ab-pricing-table {
	display: inline-block;
	vertical-align: top;
}

.ab-block-pricing-table-inside {
	background: #f2f2f2;
	display: inline-block;
    width: 100%;
}

.ab-pricing-columns-2 .ab-pricing-table-wrap {
	grid-template-columns: 1fr 1fr;

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-pricing-columns-3 .ab-pricing-table-wrap {
	grid-template-columns: 1fr 1fr 1fr;

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-pricing-columns-4 .ab-pricing-table-wrap {
	grid-template-columns: 1fr 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

.ab-pricing-columns-5 .ab-pricing-table-wrap {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}

/* Pricing table elements */

.ab-pricing-table-price {
	line-height: 1;
}

 .wp-block-atomic-blocks-ab-pricing-table {
	 vertical-align: top;

	.ab-pricing-table-description,
	.block-library-list & ul {
		margin: 0;
		padding: 0;
	}
 }

ul.ab-pricing-table-description li {
	list-style: none;
	margin: 0;
	padding: 4px 0;

	&:last-child {
		border-bottom: none;
	}
}

.ab-pricing-table-wrap .ab-block-pricing-table-inside > * {
	margin-bottom: 30px;
}

.ab-pricing-table-wrap .ab-block-pricing-table-inside > *:first-child {
	margin-top: 30px;
}

.ab-block-pricing-table-center {
	text-align: center;

	.ab-block-button {
		text-align: center !important;
	}

	.blocks-button__inline-link {
		margin: 0 auto;
		text-align: center;
	}
}

.ab-block-pricing-table-left {
	text-align: left;
}

.ab-block-pricing-table-right {
	text-align: right;
}

.ab-pricing-table-price.has-background {
	padding: 10px 15px;
}

.editor-styles-wrapper [data-type="atomic-blocks/ab-pricing-table-description"] ul {
	list-style-type: none;
}