/**
 * Pricing table styles
 * Loads on front end and back end
 */

 .ab-block-pricing-table {
	 vertical-align: top;

	 .block-library-list & ul {
		margin: 0;
		padding: 0;
	 }

	 li {
		 list-style: none;
		 border-bottom: solid 1px #eee;
		 margin: 0;
		 padding: 10px 0;

		 &:last-child {
			 border-bottom: none;
		 }
	 }
 }