/**
 * card styles
 * Loads on front end and back end
 */

 .lsx-block-card {
	background: #f2f2f2;
	color: #293038;
	margin: 0 auto;
	//padding: 3%;
	border-radius: 5px;
	margin-bottom: 1.2em;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;

	.lsx-card-column {
		display: block;
		flex: 3 0 0;

		@media only screen and (max-width: 600px) {
			flex: auto;
		}
	}

	.lsx-card-avatar-wrap {
		position: relative;
		z-index: 0;
		flex: 1 0 0;

		@media only screen and (max-width: 600px) {
			flex: auto;
			max-width: 210px;
			margin: 0 auto;
		}
	}

	.lsx-card-content-wrap {
		padding: 15px;
		@media only screen and (max-width: 600px) {
			text-align: center;
		}
	}

	.lsx-card-text {
		font-size: 18px;
		padding-top: 1em;
		a {
			color: inherit;
			box-shadow: 0 -1px 0 inset;
			text-decoration: none;

			&:hover {
				color: inherit;
				box-shadow: 0 -2px 0 inset;
			}
		}

		p {
			line-height: 1.6;

			&:last-child {
			margin-bottom: 0;
			}
		}
	}

	.lsx-card-name {
		font-size: 1.4em;
		font-weight: bold;
		line-height: 1.2;
		margin: 0;
		text-align: center;
	}

	.lsx-card-title {
		text-align: center;
		opacity: .8;
		padding-top: 5px;
		margin-bottom: 0;
	}

	.lsx-card-image-square {
		// position: absolute;
		// top: 0;
		// left: 0;
		// height: 100%;
		// width: 100%;
		// z-index: 5;
	}

	.lsx-card-text:empty,
	.lsx-card-title:empty,
	.lsx-card-name:empty {
		display: none;
	}

	.lsx-card-image-wrap {
		width: 100%;
		background: #ddd;
		position: relative;
		width: 100%;

		// &:before {
		// 	content: '';
		// 	display: inline-block;
		// 	padding-top: 100%;
		// }

		button {
			position: absolute;
			left: 0;
			z-index: 50;
			padding: 0;
			height: 100%;
			width: 100%;
		}

		button:focus {
			background: none;
			border: none;
			outline: none;
			box-shadow: none;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 5;
		}
	}

}

.right .lsx-card-avatar-wrap {
	order: 2;
}

.round .lsx-card-image-wrap {
	border-radius: 500px;
	overflow: hidden;

	&:before {
		content: '';
		display: inline-block;
		padding-top: 92%;
	}

	img {
		border-radius: 500px;
	}
}

#editor .lsx-has-avatar {

	.lsx-card-image-square {
		&:hover {
			cursor: pointer;

			img {
				opacity: .7 !important;
			}
		}

		button {
			top: 0;
			left: 0;
			opacity: 1 !important;
			height: 100%;
		}
	}

}
